extends layout

block content
  h1 Login
  p.caution= error
  form(method='POST',action='/login')
    input(type='text',name='email',placeholder='email')
    input(type='password',name='password',placeholder='password')
    input(type='submit',value='Login')